---
 # Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "footer";
@import "index";
@import "navbar";
@import "variable";

html {
  text-align: justify;
  color:#000000;
}

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

h1, h2, h3, h4, h5 {
  text-align: left;
  overflow-wrap: break-word !important;
}

h2 {
  margin-top: 0;
}

img {
  margin:0;
  max-width:100%;
  margin-bottom: 2rem !important;
}

#nescss > .container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 9rem;

  main.main-content {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
  }
}
