---
 # Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "footer";
@import "index";
@import "navbar";
@import "pagecontent";
@import "post";

html {
  text-align: justify;
  color:#000000;
}

h1, h2, h3, h4, h5 {
  text-align: left;
  overflow-wrap: break-word !important;
}

h2 {
  margin-top: 0;
}

img {
  margin:0;
  max-width:100%;
}

@media(max-width:767px){
  .main-data {
    padding:15% 5% 0;
  }
}

ul li::before {
  left: 0 !important;
}

ul li {
  text-indent: 0 !important;
}