<head>
	<meta charset="utf-8">

	<meta name="description" content="Pawan Sunuwar is the Front End Developer/Software Engineer.">
	<meta name="keywords" content="Pawan,Sunuwar,Front-end,Front End Development,Javascript,React,ReactJS,Native,React Native,Responsive Design,Development,Software,Engineer,Software Engineer,Web Design,Design,Pawan Sunuwar,Kathmandu,Developer,Web Development">
	<meta name="author" content="Pawan Sunuwar">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Pawan Sunuwar" />
	<meta property="og:image" content="https://pawanman56.github.io/images/my-pic.jpg">
	<meta property="og:description" content="Pawan Sunuwar is the Front End Developer/Software Engineer." />		
	<meta property="og:type" content="Personal website" />

	<link rel="shortcut icon" href="https://pawanman56.github.io/favicon.ico">
	
	<title>Pawan Sunuwar</title>

	<link rel="icon" type="image/ico" href="https://pawanman56.github.io/favicon.ico">
	<link rel="icon" type="image/png" href="https://pawanman56.github.io/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="https://pawanman56.github.io/images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/x-icon" href="https://pawanman56.github.io/images/favicons/favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="https://pawanman56.github.io/images/favicons/favicon.ico">

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>