<head>
	<meta charset="utf-8">
	<meta name="description" content="Pawan Sunuwar is the student of the computer science and the front end web developer specialized in HTML5, CSS3, PHP, SCSS, Ruby On Rails.">
	<meta name="keywords" content="Pawan,Sunuwar, Pawan'sInk,Pawan's, Ink, Pawan's ink,Front-end,Front End development,HTML,HTML 5,CSS,CSS3,javascript,java, rails, Object Oriented, Responsive Design, Development, PHP, Web Design, Design, Pawan Sunuwar, Boudha, Jorpati, Kathmandu, Bagmati, Nepal, Front-end Web Developer,Web Development">
	<meta name="author" content="Pawan Sunuwar">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="https://pawanman56.github.io/images/my-pic.jpg">
	<link rel="shortcut icon" href="https://pawanman56.github.io/favicon.ico">
	
	<title>{{ site.title }}</title>

	<link rel="icon" type="image/ico" href="../favicon.ico">
	<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/x-icon" href="images/favicons/favicon.ico">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicons/favicon.ico">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	
	<script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script>
	<script src="https://use.fontawesome.com/4d4ecbda3f.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/4d4ecbda3f.css" media="all">

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

	<!--Boostrap jQuery-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>