<nav class="navbar-default row flex-center">
  <div class="md-10 sm-12 col split-nav">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Pawan's Ink</a>
      <a href="javascript:void(0);" class="icon" onclick="navbarCollapse()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="collapse" id="collapse">
      <ul class="nav navbar-nav inline">
        <li><a href="/">All Digital Inks</a></li>
        <li><a href="/about">About Me</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  function navbarCollapse() {
    var x = document.getElementById("collapse");

    if (x.className === "collapse") {
      x.className += " responsive";
    } else {
      x.className = "collapse";
    }
  }
</script>