
<header>
  <div class="container">
    <div class="nav-brand">
      <a href="/" class="navbar-brand">
        <h1>Pawan's Ink</h1>
      </a>

      <a href="javascript:void(0);" class="icon" onclick="navbarCollapse()">
        <i class="fa fa-2x fa-bars"></i>
      </a>
    </div>

    <div class="collapse" id="collapse">
      <ul class="p-0">
        <li class="mr-1"><a href="/">All Digital Inks</a></li>
        <li><a href="/about">About Me</a></li>
      </ul>
    </div>
  </div>
</header>

<script>
  function navbarCollapse() {
    var x = document.getElementById("collapse");

    if (x.className === "collapse") {
      x.className += " responsive";
    } else {
      x.className = "collapse";
    }
  }
</script>