footer {
  background-color: #000;
  color: #ffffff;

  .container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    padding: 1rem;
    transition: all 0.2s ease;

    ul {
      display: inline-flex;
    }
  }
}
