footer {
  margin: 0 !important;
  width: -moz-available;
  height: auto;
  flex-direction: column !important;
  align-items: center;
  font-size: 18px;
  background-color: #000;
  color: #ffffff;

  ul.inline {
    padding-left: 0;

    li::before {
      content: none;
    }

    a {
      background-image: none;
    }
  }
}

i
{
  color:#ffffff;
}

i:hover {
  color: #ed7034
}