@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.mg-tp-0 {
  margin-top: 0 !important;
}

.mg-tp-20 {
  margin-top: 20px;
}

.post-list {
  font-size: 18px;
  padding: 0 5% 0 5%;

  li::before {
    content: none;
  }

  li.card {
    margin-bottom: 35px;

    p {
      margin-bottom: 0 !important;
    }
  }

  .card-title > a:hover {
    color: #ed7034;
  }
}

li {
  list-style: none;
}
