// Paddings
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem;
}

// margins
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 2rem;
}

// Link Texts
a,
a:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

canvas {
  display: block;
  opacity: 0.1;
}

.container {
  position: absolute;
  min-width: 288px;
  top: 20px;
  left: 0;
  color : #0F0;
  background: #000;
  z-index : 1;
  box-sizing: border-box;
  box-shadow: 0 0 5px #303030;
  vertical-align: middle;
  font-family: monospace;
  font-size: 1.25em;
}

.row {
  margin-bottom: 1em;
}
