
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  border-bottom: 4px solid #D3D3D3;
  background-color: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.2s ease;

    .nav-brand > .icon {
      display: none;
    }

    .collapse > ul {
      display: inline-flex;
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      flex-direction: column;

      .nav-brand {
        display: flex;
        width: -moz-available;
        width: -webkit-fill-available;
        justify-content: space-between;

        .icon {
          display: flex !important;
          align-self: center;

          i {
            color: #000000;
          }
        }
      }

      .collapse {
        display: none;
      }

      .collapse.responsive {
        display: flex;
        justify-content: flex-end;
        transition: all 0.2s ease-in-out;
    
        ul {
          display: flex;
          flex-direction: column;
          line-height: 1.5 !important;
        }
      }
    }
  }
}
