<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include navbar.html %}

    <div id="wrapper">

      <div class="container-fluid main-data">
        <div class="col-md-1"></div>
        <div class="col-md-8 page-content">
          {{ content }}
        </div>
        <div class="col-md-3 text-center">
          {% include twitter_follow_button.html %}
          {% include twitter_embedded.html %}
        </div>
      </div>

    </div>
  
    {% include footer.html %}

    <script> 
      $(function(){ 
        $('.nav-tabs a:first').tab('show');
      }); 
    </script> 

  </body>
</html>