<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include navbar.html %}
    
    <div id="wrapper">
      
      <div class="row flex-center">
        
        <div class="post-content sm-8 md-8 lg-8 col">
          <div class="post-info">
            <h1 class="text-center">{{ page.title }}</h1>
            <h5 class="post-time text-center">{{ page.date | date: "%B %-d, %Y" }}</h5>
          </div>
          {{ content }}

          {% include social.html %}
        </div>
      </div>

      {% include footer.html %}

    </div>

  </body>
</html>